<html>
<body style="background-color: #DCDCDC;margin-bottom: 100px;">
<div  align="center" style="width:400px;margin-left: 35%;border-style: grooev;border-color:#d3d3d3;background-color: white;padding: 3%;margin-top: 5%;margin-bottom: 3%;">
<div style="color:red;font-size: 12px;">
  <%= devise_error_messages! %>
</div>
<h2 style="color:blue;">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <div>
    <%= f.password_field :password, autofocus: true, autocomplete: "off",:class=>'form-control' %></div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",:class=>'form-control' %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Change my password",:class=> 'btn clor' %>
  </div>
<% end %>

<%= render "members/shared/links" %>
</div>
</body>
</html>
<style type="text/css">
  .clor{
    background-color:#FF4500;
  }
</style>
