<html>
<body style="background-color: #FFD993;margin-bottom: 100px;">
<div  align="center" style="margin-left: 10%;background-color: white;margin-top: 5%;margin-bottom: 3%;margin-right:30%;padding: 5%; ">
<h4 align="left"><b>CONTACT US</b></h4>
<% if !flash[:noticequery].blank?%>
<div class="alert alert-success">
  <%= flash[:noticequery] %>
  </div>
  <%end%>
<% if !flash[:errorquery].blank?%>  
  <div class="alert alert-danger">
  <%= flash[:errorquery]%>
</div>
<%end%>
<%= form_tag('/contactdetails', :method=>'post') do %>
 
 <div class="field">
 <div align="left">
    <%= label_tag :name %><br /></div>
    <div>
    <%= text_field_tag :name,"", autofocus: true,:class=>'form-control' %></div>
  </div>

  <div class="field">
  <div align="left">
    <%= label_tag :email %><br /></div>
    <div>
    <%= email_field_tag :email,"",:class=>'form-control' %></div>
  </div>

  <div class="field">
  <div align="left">
    <%= label_tag :message %><br /></div>
    <div>
    <%= text_area_tag :message,"", :rows => 4, :cols => 90 %></div>
  </div>
<br/>
  <div class="actions">
    <%= submit_tag "Send",:class=>'btn clor' %>
  </div>
<% end %>

</div>
</body>
</html>
<style type="text/css">
  .clor{
    background-color:#FF4500;
  }
</style>