<html>
<body>
<% if member_signed_in?%> 
	<h5 align="right" style="padding-top: 20px;margin-right: 5px;color:orange"><b>Welcome <%= current_member.email%></b></h5>
	<%end%>
	<div class="row" style="background-color: #00897B;padding: 5%">
<div id="content" style="margin-left:10%;background-color: white;width: 60%" class='col-sm-7' >
        <!-- insert the page content here -->
        <h2 >Welcome to e learning portal for lbsim mca students..</h2>
        <div style="color:grey">
        <p>good  day..</p>
        <p>This portal is dedicated fulfill all the needs of the mca student that too on a single place..</p>
        <p>you can download and upload study material <a href=" ">here</a>.</p>
        <p>contact faculty<a href="examples.html">examples</a> page that gives examples of all the styles available with this design.</p>
        <h4>IMPORTANT</h4>
        <p>kindly note the following terms..</p>
        <ul>
          <li>no topic other then academic shall be uploaded</li>
          <li>your name wont be disclosed to any faculty</li>
          <li>id password would be made available to you by head of dept.</li>
        </ul>
      </div>
      
    </div>
     <% if member_signed_in?%>
    <div class='sidebarcls col-sm-2'>
    
      	<div>
          <div class="sidebar_item">
            <h3 style="color:white">Useful Links</h3>
            <br/><br/>
             <a href="http://www.ipu.ac.in/" style="color:white">GGSIPU</a>
             <br/><br/>
              <a href="http://www.lbsim.ac.in/" style="color:white">Lbsim official website</a><br/><br/>
              <a href="http://www.lbsim.ac.in/erp_login.aspx?mpgid=120&pgidtrail=120" style="color:white">ERP login</a><br/><br/>
              <a href="" style="color:white">Refrences and books</a>
            
          </div>
          <div class="sidebar_base"></div>
        </div>
        </div>
      <%end%>
      
      </div>
      <div>
      <% if member_signed_in?%>
      <div class="row" style="padding: 1%;background-color:#FFD993;">
    <div class='col-sm-6' style="margin-bottom: 2%;margin-top: 2%;margin-left: 10%;background-color: #FFAFAF;padding: 2%;border-radius: 7px;">
    <b style="font-size: 20px;">Notices</b>
      <% if !@notices.blank? %>
      	<% @notices.each do |n|%>
      		<div style="background-color: white;border-style: solid;border-color: grey;border-radius: 10px;">
      		<p><b>Subject: </b><%= n.subject%></p>
      		<p><b>Date: </b><%= n.created_at%></p>
      		<p><b>Department: </b><%= n.department%></p>
      		<% if !n.semester.blank?%>
      			<p><b>Sem: </b><%= n.semester%></p>	
      		<%end%>
      		<p><b>Notice: </b><%= n.description%></p>
      		<p></p>
      		</div>
      		<br/>
      		<br/>
      	<%end%>
      <%end%>
        </div>
        </div>
      <%end%>
      </div>
</body>
</html>
<style type="text/css">
	.sidebarcls{
		margin-left: 100px;
		background: linear-gradient(#6633CC,#CC6600);
		color:grey;
		height: 300px;
	}
</style>