<html>
<body style="background-color: #FFD993;margin-bottom: 100px;">
<div  align="center" style="margin-left: 15%;background-color: white;margin-top: 5%;margin-bottom: 3%;margin-right:15%;padding: 5%; ">
<h4 align="left"><b>PROFILE</b></h4>
<% if !flash[:noticefaculty].blank?%>
<div class="alert alert-success">
  <%= flash[:noticefaculty] %>
  </div>
  <%end%>
<% if !flash[:errorfaculty].blank?%>  
  <div class="alert alert-danger">
  <%= flash[:errorfaculty]%>
</div>
<%end%>
<%= form_tag('/updatefacultydetails', :method=>'post') do %>
 
 <div class="field">
 <div align="left">
    <%= label_tag :name %><br /></div>
    <div>
    <%= text_field_tag :name,"", autofocus: true,:class=>'form-control' %></div>
  </div>

  <div class="field">
  <div align="left">
    <%= label_tag :email %><br /></div>
    <div>
    <%= email_field_tag :email,"",:class=>'form-control' %></div>
  </div>

  <div class="field">
  <div align="left">
    <%= label_tag :post %><br /></div>
    <div>
    <%= text_field_tag :post,"",:class=>'form-control' %></div>
  </div>
  <div class="field">
  <div align="left">
    <%= label_tag :description %><br /></div>
    <div>
    <%= text_area_tag :description,"", :rows => 4, :cols => 90 %></div>
  </div>
   <div class="field">
  <div align="left">
    <%= label_tag :department %><br /></div>
    <div>
    <%= text_field_tag :department,"",:class=>'form-control' %></div>
  </div>
<br/>
  <div class="actions">
    <%= submit_tag "Update",:class=>'btn clor' %>
  </div>
<% end %>

</div>
</body>
</html>
<style type="text/css">
  .clor{
    background-color:#FF4500;
  }
</style>